body {
  background: #f5f6fa;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  color: #ec6236;
  text-decoration: none;
}

img {
  max-width: 100%;
}
